@keyframes ldio-6aimln07uc3 {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-6aimln07uc3 div {
    left: 46.61px;
    top: 33.04px;
    position: absolute;
    animation: ldio-6aimln07uc3 linear 0.9174311926605504s infinite;
    background: #85a2b6;
    width: 24.779999999999998px;
    height: 14.16px;
    border-radius: 12.389999999999999px / 7.08px;
    transform-origin: 12.389999999999999px 25.959999999999997px;
  }.ldio-6aimln07uc3 div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.8868501529051988s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(2) {
    transform: rotate(12deg);
    animation-delay: -0.856269113149847s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(3) {
    transform: rotate(24deg);
    animation-delay: -0.8256880733944953s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(4) {
    transform: rotate(36deg);
    animation-delay: -0.7951070336391437s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(5) {
    transform: rotate(48deg);
    animation-delay: -0.7645259938837919s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(6) {
    transform: rotate(60deg);
    animation-delay: -0.7339449541284403s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(7) {
    transform: rotate(72deg);
    animation-delay: -0.7033639143730887s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(8) {
    transform: rotate(84deg);
    animation-delay: -0.6727828746177369s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(9) {
    transform: rotate(96deg);
    animation-delay: -0.6422018348623852s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(10) {
    transform: rotate(108deg);
    animation-delay: -0.6116207951070336s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(11) {
    transform: rotate(120deg);
    animation-delay: -0.581039755351682s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(12) {
    transform: rotate(132deg);
    animation-delay: -0.5504587155963302s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(13) {
    transform: rotate(144deg);
    animation-delay: -0.5198776758409785s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(14) {
    transform: rotate(156deg);
    animation-delay: -0.48929663608562685s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(15) {
    transform: rotate(168deg);
    animation-delay: -0.4587155963302752s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(16) {
    transform: rotate(180deg);
    animation-delay: -0.4281345565749235s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(17) {
    transform: rotate(192deg);
    animation-delay: -0.39755351681957185s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(18) {
    transform: rotate(204deg);
    animation-delay: -0.36697247706422015s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(19) {
    transform: rotate(216deg);
    animation-delay: -0.33639143730886845s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(20) {
    transform: rotate(228deg);
    animation-delay: -0.3058103975535168s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(21) {
    transform: rotate(240deg);
    animation-delay: -0.2752293577981651s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(22) {
    transform: rotate(252deg);
    animation-delay: -0.24464831804281342s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(23) {
    transform: rotate(264deg);
    animation-delay: -0.21406727828746175s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(24) {
    transform: rotate(276deg);
    animation-delay: -0.18348623853211007s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(25) {
    transform: rotate(288deg);
    animation-delay: -0.1529051987767584s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(26) {
    transform: rotate(300deg);
    animation-delay: -0.12232415902140671s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(27) {
    transform: rotate(312deg);
    animation-delay: -0.09174311926605504s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(28) {
    transform: rotate(324deg);
    animation-delay: -0.061162079510703356s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(29) {
    transform: rotate(336deg);
    animation-delay: -0.030581039755351678s;
    background: #85a2b6;
  }.ldio-6aimln07uc3 div:nth-child(30) {
    transform: rotate(348deg);
    animation-delay: 0s;
    background: #85a2b6;
  }
  .loadingio-spinner-spinner-20rz6j5j50m {
    width: 118px;
    height: 118px;
    display: inline-block;
    overflow: hidden;
    background: rgba(NaN, NaN, NaN, 0);
  }
  .ldio-6aimln07uc3 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-6aimln07uc3 div { box-sizing: content-box; }
  /* generated by https://loading.io/ */
  